<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <div class="col-md-12">
        <% flash.each do |key, message| %>
          <div class="text-center alert alert-<%= key == 'notice' ? 'success' : 'danger'%>">
            <%= message %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
